pandas==2.1.3
pandas-ta==0.3.14b0
binance==0.3
sqlalchemy==2.0.30
openai==1.2.4
aiogram==3.5.0
requests==2.31.0
python-dotenv==1.0.0
schedule==1.2.1
joblib==1.4.0
scikit-learn==1.4.2
transformers==4.41.0
sumy==0.11.0
gensim==4.3.2
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
pytest==8.2.1
plotly==5.22.0
kaleido==0.2.1
feedparser==6.0.11
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
SQLAlchemy==2.0.30
python-binance 
matplotlib 
mplfinance
yt-dlp==2024.5.27
nltk
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tensorflow==2.16.1
sympy==1.12.1
nltk
ffmpeg
